################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/NetworkObj
bin/Debug/net8.0/NetworkObj.deps.json
bin/Debug/net8.0/NetworkObj.dll
bin/Debug/net8.0/NetworkObj.exe
bin/Debug/net8.0/NetworkObj.pdb
bin/Debug/net8.0/NetworkObj.runtimeconfig.json
obj/NetworkObj.csproj.nuget.dgspec.json
obj/NetworkObj.csproj.nuget.g.props
obj/project.assets.json
obj/project.nuget.cache
obj/Debug/net8.0/apphost.exe
obj/Debug/net8.0/NetworkObj.assets.cache
obj/Debug/net8.0/NetworkObj.csproj.BuildWithSkipAnalyzers
obj/Debug/net8.0/NetworkObj.csproj.CoreCompileInputs.cache
obj/Debug/net8.0/NetworkObj.csproj.FileListAbsolute.txt
obj/Debug/net8.0/NetworkObj.dll
obj/Debug/net8.0/NetworkObj.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net8.0/NetworkObj.genruntimeconfig.cache
obj/Debug/net8.0/NetworkObj.GlobalUsings.g.cs
obj/Debug/net8.0/NetworkObj.pdb
obj/Debug/net8.0/NetworkObj.sourcelink.json
obj/Debug/net8.0/ref/NetworkObj.dll
obj/Debug/net8.0/refint/NetworkObj.dll
obj/NetworkObj.csproj.nuget.dgspec.json
obj/NetworkObj.csproj.nuget.g.props
obj/project.assets.json
obj/project.nuget.cache
obj/Debug/net8.0/NetworkObj.assets.cache
obj/Debug/net8.0/NetworkObj.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net8.0/NetworkObj.GlobalUsings.g.cs
